#principal{
    border: 0px outset rgb(171, 243, 219);
  background-color: aliceblue;
  text-align: center;
  margin: 3%;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: justify;
}

h2{
    text-align: center;
}

#atributos{
    text-align: center;
}

article{
    background-color: rgb(170, 250, 250);
    display: flex;
    /* flex-direction: row; */
    height: 1500px;
    align-items: flex-start;
    flex-flow: row wrap;
}

section{
    background-color: aliceblue;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    position: relative;
}

header{
    text-align: center;
    border-bottom: 4px;
    margin: 5px;
    border-style: inherit;
}

#ref{
    text-align: center;
}