#principal{
    border: 0px outset rgb(171, 243, 219);
  background-color: aliceblue;
  text-align: center;
  margin: 3%;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: justify;
}

article{
    background-color: rgb(170, 250, 250);
    display: flex;
    /* flex-direction: row; */
    height: 720px;
    align-items: flex-start;
    flex-flow: row wrap;
}

section{
    background-color: rgb(96, 247, 171);
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

#pie{
    text-align: center;
    border-style: groove;
    width: max-content;
}

footer{
    text-align: center;
    align-items: center;
}

header{
    text-align: center;
}

h2{
    text-align: center;
}

.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: black;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook2{
    background: #2E406E;
}

.icon.twitter{
    background: #339DC5;
}

.icon-instagram{
    background: #3F60A5;
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1 rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}